<div class="container mt-4">
  <h2>Profil :
    <%= @user.name%>
  </h2>

  <%= link_to "Editer le profil #{@user.email}", edit_user_registration_path, :class => "btn btn-secondary my-2" %>

  <h3 class="h3-spacing">Collection :</h3>
  <div class="row">
    <% @items.each do |item|%>
      <% @user.items.each do |useritem|%>
        <% if (useritem === item) %>
          <img src="<%= item.image_url%>" alt="Card image cap">
        <% end %>
      <% end %>
    <% end %>
  </div>
  <h3 class="h3-spacing">Commandes :</h3>
  <% @user.orders.each do |order|%>
    <div class="edit-profile-card-row">
      <div class="edit-profile-card-col">
        <div class="edit-profile-card-card">
          <div class="edit-profile-card-card-body">
            <div class="edit-profile-card-card-firstcol">
              <div class="edit-profile-card-card-firstcol-content">
                Commande<br>
                n°
                <%=order.id%>
              </div>
            </div>
            <div class="edit-profile-card-card-secondcol">
              <div class="card-text">
                <span><strong>Commande de </strong></span><span class="text-muted">
                  <%= order.items.size %> articles</span>
              </div>
              <% order.items.each do |item| %>
                <div class="edit-profile-card-card-secondcol-content">
                  <span><strong>Photo
                      <%=item.id%> :</strong></span><span class="text-muted">
                    <%= item.title %></span>
                </div>
              <% end %>
            </div>
            <div class="edit-profile-card-card-thirdcol">
              <div class="card-text">
                <span><strong></strong></span><span class="text-muted"><br>
                </span>
              </div>
              <% order.items.each do |item| %>
                <div class="edit-profile-card-card-thirdcol-content">
                  <span class="text-muted">
                    <%= item.price %> €
                  </span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%end%>
  <div class="edit-profile-card-row">
    <div class="edit-profile-card-col">
      <div class="edit-profile-card-card">
        <div class="edit-profile-card-card-body">
          <div class="edit-profile-card-card-firstcol">
            <div class="edit-profile-card-card-firstcol-content">
            </div>
          </div>
          <div class="edit-profile-card-card-secondcol">
            <div class="card-text">
              <span><strong>Total des commandes </strong></span><span class="text-muted">
              </span>
            </div>
            <div class="edit-profile-card-card-secondcol-content">
              <span><strong></strong></span><span class="text-muted">
              </span>
            </div>
          </div>
          <div class="edit-profile-card-card-thirdcol">
            <div class="card-text">
              <span><strong></strong></span><span class="text-muted"></span>
            </div>
            <div class="edit-profile-card-card-thirdcol-content">
              <%= @total_amount %> €
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
