<div class="container mt-4">
  <h2>Votre profil utilisateur :</h2>

  <div class="row">
    <div class="card border-success mb-3" style="max-width: 24rem;">
      <div class="card-header">Nom : <%= @user.email%></div>
        <div class="card-body text-success">
          <h6 class="card-title">Email: <%= @user.email %></h6>
          <p class="card-text text-muted">Merci <%= @user.email %></p>
          <%= link_to 'Editer', edit_user_registration_path, :class => "btn btn-secondary", style:"font-size:smaller"%>
      </div>
    </div>
  </div>
  

  <h3 class="mt-4 mb-4">Vos commandes (<%= @user.email %>) :</h3>
  <% @user.orders.each do |order|%>
    <div class="row my-3">
      <div class="col-md-12">
        <div class="card p-2">
          <div class="card-body d-flex m-0 p-0">

            <div class="col-md-1 pt-2">
              <div class="ml-auto d-flex">
                n° <%=order.id%>
              </div>
            </div>
            <div class="col-md-11">
              <div class="card-text">
                <span><strong>Commande de </strong></span><span class="text-muted"><%= order.items.size %> articles</span>
              </div>
              <% order.items.each do |item| %>
                <div class="card-body m-0 px-0  pt-2 pb-0 ">
                  <span><strong>Contenu <%=item.id%> :</strong></span><span class="text-muted"> <%= item.title %></span>
                </div>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>
  <%end%>

  <%= link_to "Retour à l'accueil", root_path, class:"nav-link btn btn-secondary" %>

</div>
