<h1> Panier de <%= current_user.email %></h1>

<table class="cart">
  <tr>
    <th> Produit </th>
    <th> Prix </th>
  </tr>
  <% for item in @cart.items %>
    <tr>
      <td><%= link_to "#{item.title}", item_path(item), class:"btn btn-block btn-outline-primary" %></td>
      <td><%= item.price %> € </td>
      <td><%= link_to "Supprimer", cart_path(:item_id => item.id), class:"btn btn-outline-secondary", method: "delete" %></td>
    </tr>
  <% end %>
  <tr>
    <th> TOTAL </th>
    <th> <%= @cart.total_price %> € </th>
  </tr>

</table>

<%= link_to "Passer Commande", new_charge_path, class:"btn btn-warning"%>
