
<div class="product-container">
  <div class="product">
    <img class="product-img" src="<%= @item.image_url%>" alt="Card image cap">
    <div class="product-body">
        <h5 class="product-title"><%= @item.title %></h5>
        <p class="product-text"><%= @item.description %></p>
        <p class="product-price"><small class="text-muted"><%= @item.price %> €</small></p>
      <% if user_signed_in? %>
          <%= link_to "Ajouter au panier", root_path, class: "show-button" %>
      <% end %>
    </div>
  </div>
</div>




<div class="element">
    <div>
      <img src="<%= @item.image_url%>"  class="element_picture" alt="">
    </div>
    <div class="element_text">
      <h5 class="product-title"><%= @item.title %></h5>
      <p><%= @item.description %></p>
    </div>
    <p class="product-price"><small class="text-muted"><%= @item.price %> €</small></p>
    <% if user_signed_in? %>
      <%= link_to "Ajouter au panier", root_path, class: "cart-button" %>
    <% end %>
</div>