<div class="item-deck">
  <% @items.each do |item| %>
    <div class="item-card">
      <img class="item-img" src="<%= item.image_url%>" alt="Card image cap">
      <div class="item-card-body">
        <h5 class="item-title"><%= item.title %></h5>
        <p class="item-text"><%= item.description %></p>
        <p class="item-text"><small class="text-muted"><%= item.price %> €</small></p>
        <%= link_to "Plus d'informations", item_path(item.id), class: "show-button" %>
      </div>
    </div>
  <% end %>
</div>