<div class="item-card-object">
  <div class="item-card">
    <div class="item-card-image">
      <%= link_to item_path(item.id) do %>
        <img class="item-img" src="<%= item.image_url%>" alt="Card image cap">
      <% end %>
    </div>
    <div class="item-card-text">
      <%= render partial: 'display_price', locals: {item: item} %>
      <h5 class="item-title">
        <%= item.title %>
      </h5>
      <p class="item-text">
        <%= item.description %>
      </p>
    </div>
    <div class="item-card-buttons">
      <div><%= link_to "Plus d'informations", item_path(item.id), class: "show-button" %></div>
      <div><%= render partial: 'add_to_cart', locals: {item: item} %></div>
    </div>
  </div>
</div>
