<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello-Kitten</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div id="navbar"> <%= render partial: "shared/navbar" %> </div>
    <div id="jumbotron"> <%= render partial: "shared/jumbotron" %> </div>
    <div id="alerts"> <%= render partial: "shared/alerts" %> </div>
    <div id="main"> <%= content_for?(:main) ? yield(:main) : yield %> </div>
    <div id="footer"> <%= render partial: "shared/footer" %> </div>
   
  </body>
</html>
